<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059200388612-osavdnt0of1vd3hpgok74u19s6och8b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059200388612-osavdnt0of1vd3hpgok74u19s6och8b7</string>
	<key>API_KEY</key>
	<string>AIzaSyCVvoVM8x5m2piTrCyFzzVwXtT7a71bThc</string>
	<key>GCM_SENDER_ID</key>
	<string>1059200388612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodFrenzy</string>
	<key>PROJECT_ID</key>
	<string>food-frenzy-56bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>food-frenzy-56bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059200388612:ios:73c30f11a48c23e0112f51</string>
</dict>
</plist>